/*root*/
::selection {
	background-color: transparent;
	color: #333;
}
/*others*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html {
	font-size: 7px;
	font-smoothing: antialiased; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
body {
	background-image: url(../img/misc/tile.jpg);
	text-shadow:1px 1px 1px rgba(0,0,0,0.004) !important;
}
a {
	text-decoration: none;
}
