/*fonts*/
.f__headline--1 {
	font-family: "DM Serif Display";
    font-weight: 400;
    font-style: normal;
    line-height: initial;
}
.f__headline--2 {
	font-family: 'Bebas Neue';
 	font-size: 4.6rem;	
 	letter-spacing: -0.25rem;
}
.f__headline--3 {
	font-family: 'Bebas Neue';
 	font-size: 3.6rem;	
 	letter-spacing: 0;
}
.f__body--1 {
	font-family: 'Montserrat';
	font-size: 1.6rem;
	letter-spacing: 0.25rem;
}
.f__body--2 {
	font-family: 'Montserrat';
	font-size: 1.4rem;
	letter-spacing: 0rem;
}
.f__body--m1{
	font-family: 'Merriweather';
	font-size: 2rem;
	letter-spacing: 0.15rem;
	color: #576574;
}
/*.f__button {
	font-family: 'Montserrat';
	font-size: 1.4rem;
	letter-spacing: 1.25px;	
	text-transform: uppercase;
	font-weight: 600;
}*/
.f__button {
	font-family: 'Montserrat';
	font-size: 1.6rem;
	letter-spacing: 0.15rem;	
	text-transform: uppercase;
	font-weight: 600;
}



/*others*/
.heading {
	color: #222f3eEE;
	margin-bottom: 5rem 0;
	font-family: 'Bebas Neue';
 	font-size: 7.3rem;
 	font-weight: 600;
 	letter-spacing: -0.5rem;
}
.clearfix {
	content: "";
	clear: both;
	display: table;
}
.page {
	padding: 5rem 0;
	border-bottom: 2px solid #8395a7;
}
.button {
	color: #c8d6e5;
	background-color: #222f3e;
	padding: 1rem 2rem;
	border-radius: 5rem;
	transition: background-color ease 0.3s;
}
.button:hover {
	background-color: #ff6b6b;
}

/*scroll-up-button*/
.fixed {
	position: fixed;
	bottom: 5rem;
	right: 5rem;
}
.fixed span {
	padding: 1rem;
	border-radius: 50%;
	color: #222f3e;
	transition: background-color 0.3s ease;
}
.fixed span:hover {
	background-color: #222f3e;
	color: #c8d6e5;
}

.effect {
	border: 1px solid transparent;
	border-radius: 2rem;
	transition: background-color ease 0.3s;
}
.effect:hover {
	background-color: #8395a755;
	border: 1px solid #8395a7;
}