/*navigation*/
.header__nav {
	width: 100%;
	list-style: none;
	background-color: transparent;
}
.header__nav--1 {
	float: left;
	display: inline-block;
}
.header__nav--2 {
	float: right;
}
.header__nav a{
	color: #8395a7;
	transition: color ease 0.3s;
	margin-right: 1rem;
}
.header__nav a:hover {
	color: #ff6b6b;
}
.header__nav--2 a:last-child{
	background-color: #8395a7;
	color: #222f3e;
	padding: 1rem 2rem;
	border-radius: 50px;
	margin-right: 0;
	transition: background-color ease 0.3s;
}
.header__nav--2 a:last-child:hover{
	background-color: #c8d6e5;
}

/*dropdown*/
.nav__dd--1 {
	position: relative;
	display: inline-block;
}
.nav__dd--1:hover .nav__dd-contents--1 {
	display: block;
}
.nav__dd-contents--1 {
	display: none;
	position: absolute;
	z-index: 1;
}
.nav__dd--2 {
	position: relative;
	display: inline-block;
}
.nav__dd--2:hover .nav__dd-contents--2 {
	display: block;
}
.nav__dd-contents--2 {
	display: none;
	position: absolute;
	z-index: 1;
}
.nav__dd--3 {
	position: relative;
	display: inline-block;
}
.nav__dd--3:hover .nav__dd-contents--3 {
	display: block;
}
.nav__dd-contents--3 {
	display: none;
	position: absolute;
	z-index: 1;
}

/*header*/
.header {
	height: 100vh;
	background-image: linear-gradient(#222f3edd,#222f3edd), url(../img/8.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: left;
	padding: 5%;
}
.header__main {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.header__main h1{
	color: #c8d6e5;
	font-size: 8rem;
	margin: auto;
	text-align: center;
}
.header__main p{
	color: #8395a7;
}
.header__main img {
	width: 6rem;
	background-color: #c8d6e5;
	border-radius: 50%;
}

/*footer*/
.footer {
	display: flex;
	padding: 5rem 0;
}
.footer p{
	color: #576574;
	max-width: 80vw;
	margin: 0 auto;
}