@media only screen and (max-width: 600px) {
	html{
		font-size: 7px !important;
	}
	.mobile-hide {
		display: none;
	}
	.aim__container {
		flex-direction: column;
	}
	.aim__container *:not(:first-child){
		margin-top: 5%;
	}
	.information__container {
		display: block !important;
		height: auto !important;
	}
	.information__row {
		display: block !important;
		padding: 0 !important;
	}
	.information__column:not(:last-child) {
		margin-bottom: 5rem;
	}
	.information__row:not(:last-child) {
		margin-bottom: 5rem;
	}
	.information__column {
		display: block !important;
	}
	.gallery__container {
		display: block !important;
		height: auto !important;
	}
	.gallery__row {
		display: block !important;
	}
	.gallery__column img:hover {
		transform: scale(1.1) !important;
	}
	.gallery__column:not(:last-child) {
		margin-bottom: 5rem;
	}
	.f__headline--1 {
		letter-spacing: 0px !important;
	}
	.header__main p {
		padding-bottom: 2.5rem
	}
	.staff__container {
		display: block;
		height: auto;
	}
	.staff__row {
		display: block !important;
		padding: 0 !important;
	}
	.staff__column:not(:last-child) {
		margin-bottom: 5rem;
	}
	.staff__row:not(:last-child) {
		margin-bottom: 5rem;
	}
	.staff__column {
		display: block !important;
	}
	.link__container {
		display: block;
	}
	.link__row--1 {
		display: block !important;
		margin-bottom: 0 !important;
	}
	.link__row--1 .link__column {
		margin-bottom: 5rem;
	}
	.link__row--2 .link__columns {
		display: block !important;
	}
	.magazine__container {
		display: block !important;
	}
	.magazine__container iframe {
		margin-bottom: 5rem;
	}
}