@media only screen and (max-width: 600px) {
	html{
		font-size: 5px !important;
	}
	.mobile-hide {
		display: none;
	}
	.header {
		height: 60vh;
	}
	.header__nav a {
		margin-right: 0.5rem !important;
		font-size: 1rem !important;
	}
	.header__main h1 {
		font-size: 8rem !important;
	}
	.header__main img {
		width: 6rem !important;
	}
	.everything {
		max-width: 90vw !important;
		padding: 0 3rem !important;
	}
	.page:first-child {
		padding: 3rem 0 !important;
	}
	.aim__container {
		flex-direction: column;
	}
	.aim__container div:not(:last-child){
		margin-bottom: 5rem;
	}
	.information__container {
		display: block !important;
		height: auto !important;
	}
	.information__row {
		display: block !important;
		padding: 0 !important;
	}
	.information__column:not(:last-child) {
		margin-bottom: 5rem;
	}
	.information__row:not(:last-child) {
		margin-bottom: 5rem;
	}
	.information__column {
		display: block !important;
	}
	.gallery__container {
		display: block !important;
		height: auto !important;
	}
	.gallery__row {
		display: block !important;
	}
	.gallery__row:last-child {
		padding: 0 !important;
	}
	.gallery__column img {
		opacity: 1 !important;
		height: 20rem !important;
	}
	.gallery__column:not(:last-child) {
		margin-bottom: 5rem !important;
	}
	.f__headline--1 {
		letter-spacing: 0px !important;
	}
	.header__main p {
		padding-bottom: 2.5rem
	}
	.staff__container {
		display: block;
		height: auto;
	}
	.staff__row {
		display: block !important;
		padding: 0 !important;
	}
	.staff__column:not(:last-child) {
		margin-bottom: 5rem !important;
	}
	.staff__row:not(:last-child) {
		margin-bottom: 5rem !important;
	}
	.staff__column {
		display: block !important;
	}
	.staff__container--sinitr {
		display: block;
	}
	.link__container {
		display: block;
	}
	.link__row--1 {
		display: block !important;
		margin-bottom: 0 !important;
	}
	.link__row--1 .link__column {
		margin-bottom: 5rem;
	}
	.link__row--2 .link__column:not(:last-child) {
		margin: 2rem 0;	
	}
	.link__row--2 .link__columns {
		display: block !important;
	}
	.magazine__container {
		display: block !important;
	}
	.magazine__container iframe {
		margin-bottom: 5rem;
	}
	.administration__container{
		display: block !important;
	}
	.administration__row{
		display: block !important;
	}
	.administration__column {
		height: 40rem;
		width: 40rem;
		margin: auto !important;
	}
	.administration__column {
		height: auto !important;
		width: auto !important;
		margin: auto !important;
	}
	#administration__staff .administration__column {
	height: auto;
	}
	.administration__column:not(:last-child) {
		margin-bottom: 5rem !important;
	}

}

@media only screen and (max-width: 1366px) {
	html {
		font-size: 7px !important;
	}
}

@media only screen and (max-width: 1920px) {
	html {
		font-size: 10px !important;
	}
	.f__headline--1 {
		letter-spacing: 0 !important;
	}
	.f__body--m1 {
		letter-spacing: 0 !important;
	}
}