/*gallery*/
#gallery {
	min-height: 100vh;
}
.gallery__container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.gallery__row {
	display: flex;
	justify-content: space-between;
}
.gallery__row:not(:last-child) {
	padding: 0 0 5rem 0;
}
.gallery__column {
	flex-basis: 48%;
	transition: all ease 0.3s;
	border-radius: 2rem;
	height: auto;
}
.gallery__column:hover {
	/*transform: scale(1.01);*/
}
.gallery__image {
	background-color: #222f3e;
	border-radius: 2rem;
}
.gallery__image:not(:last-child) {
	margin-bottom: 5rem; 
}
.gallery__column img {
	width: 100%;
	object-fit: cover;
	opacity: 0.5;
	transition: opacity 0.3s ease;
	border-radius: 2rem;
}
.gallery__column img:hover {
	opacity: 1;
}

/*extra*/
.header {
	background-image: linear-gradient(#222f3edd,#222f3edd), url(../../img/backgrounds/bg-4.jpg) !important;
}