.link__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.link__row--1 h2, .link__row--2 h2 {
	padding-bottom: 1rem;
}
.link__row--1 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5rem;
}
.link__row--1 .link__column {
	flex-basis: 45%;
	padding: 2rem;
}
.link__row--2 {
	padding: 2rem;
}
.link__row--2 .link__columns{
	display: flex;
	justify-content: space-between;
}
.link__row--2 .link__columns .link__column {
	flex-basis: 45%;
}
.link__line {
	display: flex;
	justify-content: center;
	align-items: center;
}
.link__line a {
	flex: 1;
}
.link__line i {
	transition: color ease 0.3s;
}
.link__line i:hover {
	color: #222f3e;
}

.link__line i:hover ~ span {
	color: #222f3e;
}
.link__line span {
	font-size: 1.25rem;
	flex: 1;
	color: #576574;
}