#link {

}
.link__container {
	display: flex;
	justify-content: space-between;
}
.link__column {
	display: flex;
	flex-direction: column;
}
.link__column h3 {
	color: #222f3e;
}
.link__line {
	display: flex;
	justify-content: center;
	align-items: center;
}
.link__line a {
	flex: 1;
	transition: color ease 0.3s;
}
.link__line a:hover {
	color: #222f3e;
	display: inline-block;
}
.link__line span {
	font-size: 1.25rem;
	flex: 1;
	color: #576574;
}