.teachers__container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
}
.teachers__row {
	display: flex;
	padding: 5rem 0;
	justify-content: space-between;
}
.teachers__column {
	display: flex;
	flex-direction: column;
	flex-basis: 22.5%;
}

/*extra*/
.header {
	background-image: linear-gradient(#222f3edd,#222f3edd), url(../../img/6.jpg) !important;
}
