.staff__container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.staff__row {
	display: flex;
	padding: 2rem 0;
	justify-content: space-between;
}
.staff__row:last-child {
	justify-content: space-around;
}
.staff__column {
	display: flex;
	flex-direction: column;
	flex-basis: 30%;
	padding: 2rem;
}
#staff__sinitr {
	margin: auto;
}
.staff__container--sinitr {
	/*background: red;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 45vh;
}
.staff__container--sinitr p {
	margin: auto;
	text-align: center;
}
.staff__container--sinitr h2 {
	margin: auto;
}
.staff__container--sinitr img {
	height: 30rem;
	width: 30rem;
	margin: auto;
	border-radius: 50%;
	object-fit: cover;
}

/*extra*/
.header {
	background-image: linear-gradient(#222f3edd,#222f3edd), url(../../img/backgrounds/bg-8.jpg) !important;
	background-position: bottom !important;
}
